<div class="form-heading"> 
    <div class="row">
        <div class="col-6">
                 <h4><i class="fa fa-circle-o-notch"></i> POS </h4>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-info float-right  " (click)="addCustomer()">
                 End of day</button>
                <button type="button" class="btn btn-info float-right ml-2 mr-2" (click)="addCustomer()">
                     Sales history</button>
                    <button type="button" class="btn btn-info float-right active" (click)="addCustomer()">
                        Checkout</button>
        </div>
    </div>
</div>