<div class="form-heading"> 
    <div class="row">
        <div class="col-6">
                 <h4><i class="fa fa-history"></i> Sales History </h4>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-info float-right  " >
                 End of day</button>
                <button type="button" class="btn btn-info float-right ml-2 mr-2 active" >
                     Sales history</button>
                    <button type="button" class="btn btn-info float-right " >
                        Checkout</button>
        </div>
    </div>
</div>